# 01. Importing Libraries

In [49]:
#Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [50]:
df = pd.read_csv(r'/Users/malikpressley/Desktop/Achievement 6/Boat Sales Analysis/02 Data/Original Data/boat_data.csv', index_col = False)

In [51]:
path = r'/Users/malikpressley/Desktop/Achievement 6/Boat Sales Analysis'

In [52]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'boat_data.csv'), index_col = False)

# 03. Exploring Data

In [53]:
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,EUR 61713,Bowrider,Regal power boats,"new boat from stock,Unleaded",2021,6.10,2.50,GRP,Germany Â» Lake Constance Â» Lindau/Bodensee,110
1,CHF 72700,Bowrider,Tahoe power boats,"new boat on order,Unleaded",2021,6.40,2.55,GRP,Switzerland Â» Lake of Zurich Â» Horgen,205
2,CHF 84329,Sport Boat,Regal power boats,"new boat from stock,Unleaded",2021,6.40,2.50,GRP,Switzerland Â» Lake of Zurich Â» Altendorf,128
3,CHF 96856,Sport Boat,Regal power boats,"new boat from stock,Unleaded",2021,6.25,2.50,GRP,Switzerland Â» Lake of Zurich Â» Altendorf,218
4,CHF 102168,Bowrider,Chaparral power boats,"new boat on order,Unleaded",2021,7.01,2.59,GRP,Switzerland Â» Lake Constance Â» Gottlieben,312

In [54]:
df.tail()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
9883,CHF 5000,Pilothouse,Lambro power boats,"Used boat,Unleaded",0,6.50,2.45,GRP,Switzerland Â» 3421 Lyssach,550
9884,CHF 4990,Sport Boat,Pioner power boats,new boat on order,0,4.11,1.73,NaN,Switzerland Â» Safenwil,280
9885,CHF 4980,Sport Boat,Linder power boats,new boat from stock,0,4.01,1.64,Aluminium,Switzerland Â» Lake Constance Â» Uttwil,247
9886,CHF 4950,Sport Boat,Marine power boats,new boat from stock,0,3.99,1.52,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,150
9887,EUR 4516,Sport Boat,NaN,new boat from stock,0,4.17,1.68,GRP,Germany Â» Hamburg Â» HAMBURG,94

In [55]:
df.shape

(9888, 10)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        9888 non-null   object
 1   Boat Type                    9888 non-null   object
 2   Manufacturer                 8550 non-null   object
 3   Type                         9882 non-null   object
 4   Year Built                   9888 non-null   int64
 5   Length                       9879 non-null   float64
 6   Width                        9832 non-null   float64
 7   Material                     8139 non-null   object
 8   Location                     9852 non-null   object
 9   Number of views last 7 days  9888 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 772.6+ KB

In [57]:
df.dtypes

Price                           object
Boat Type                       object
Manufacturer                    object
Type                            object
Year Built                       int64
Length                         float64
Width                          float64
Material                        object
Location                        object
Number of views last 7 days      int64
dtype: object

In [58]:
df.columns

Index(['Price', 'Boat Type', 'Manufacturer', 'Type', 'Year Built', 'Length',
       'Width', 'Material', 'Location', 'Number of views last 7 days'],
      dtype='object')

In [59]:
df.describe()

        Year Built       Length        Width  Number of views last 7 days
count  9888.000000  9879.000000  9832.000000                  9888.000000
mean   1893.192860    11.570017     3.520124                   149.160801
std     460.201582     6.002820     1.220534                   151.819752
min       0.000000     1.040000     0.010000                    13.000000
25%    1996.000000     7.470000     2.540000                    70.000000
50%    2007.000000    10.280000     3.330000                   108.000000
75%    2017.000000    13.930000     4.250000                   172.000000
max    2021.000000   100.000000    25.160000                  3263.000000

# 04. Data Wrangling

In [60]:
# identifying missing values

In [61]:
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,EUR 61713,Bowrider,Regal power boats,"new boat from stock,Unleaded",2021,6.10,2.50,GRP,Germany Â» Lake Constance Â» Lindau/Bodensee,110
1,CHF 72700,Bowrider,Tahoe power boats,"new boat on order,Unleaded",2021,6.40,2.55,GRP,Switzerland Â» Lake of Zurich Â» Horgen,205
2,CHF 84329,Sport Boat,Regal power boats,"new boat from stock,Unleaded",2021,6.40,2.50,GRP,Switzerland Â» Lake of Zurich Â» Altendorf,128
3,CHF 96856,Sport Boat,Regal power boats,"new boat from stock,Unleaded",2021,6.25,2.50,GRP,Switzerland Â» Lake of Zurich Â» Altendorf,218
4,CHF 102168,Bowrider,Chaparral power boats,"new boat on order,Unleaded",2021,7.01,2.59,GRP,Switzerland Â» Lake Constance Â» Gottlieben,312

## Renaming Columns - Data Wrangling

In [62]:
#renaming 'Number of views last 7 days' column

In [63]:
df.rename(columns = {'Number of views last 7 days' : 'Total Number of Views Last 7 Days'}, inplace = True)

In [64]:
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Total Number of Views Last 7 Days
0,EUR 61713,Bowrider,Regal power boats,"new boat from stock,Unleaded",2021,6.10,2.50,GRP,Germany Â» Lake Constance Â» Lindau/Bodensee,110
1,CHF 72700,Bowrider,Tahoe power boats,"new boat on order,Unleaded",2021,6.40,2.55,GRP,Switzerland Â» Lake of Zurich Â» Horgen,205
2,CHF 84329,Sport Boat,Regal power boats,"new boat from stock,Unleaded",2021,6.40,2.50,GRP,Switzerland Â» Lake of Zurich Â» Altendorf,128
3,CHF 96856,Sport Boat,Regal power boats,"new boat from stock,Unleaded",2021,6.25,2.50,GRP,Switzerland Â» Lake of Zurich Â» Altendorf,218
4,CHF 102168,Bowrider,Chaparral power boats,"new boat on order,Unleaded",2021,7.01,2.59,GRP,Switzerland Â» Lake Constance Â» Gottlieben,312

## Changing a Variables Data Type - Data Wrangling

In [65]:
df['Boat Type'] = df['Boat Type'].astype('str')

In [66]:
df['Manufacturer'] = df['Manufacturer'].astype('str')

In [67]:
df['Type'] = df['Type'].astype('str')

In [68]:
# Use dtype() function to return the data type of new columns

In [69]:
df['Boat Type'].dtype

dtype('O')

In [70]:
df['Manufacturer'].dtype

dtype('O')

In [71]:
df['Type'].dtype

dtype('O')

# 05. Export Data

In [73]:
#Export dataframe as “df_wrangled.csv” in “Prepared Data” folder.

In [74]:
df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'df_wrangled.csv'))